[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
mlflow = "==2.2.2"
notebook = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
python-box = "==6.0.2"
pyyaml = "*"
tqdm = "*"
ensure = "==1.0.2"
joblib = "*"
types-pyyaml = "*"
flask = "*"
flask-cors = "*"
pre-commit = "*"
python-dotenv = "*"
pytest = "*"
requests = "*"
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djoser = "*"
pillow = "*"
stripe = "*"
django-ckeditor = "*"
mlproject = {editable = true, file = "file:///home/lnit/Bureau/Logiciel/dner"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
